page-main {
	background-color: map-get(map-get($colors, theme), light);
	.cost, .eta {
		ion-col{
			background-color:orange;
			height: $filter-height;
			margin: $filter-margin;
			border-radius: $filter-border-radius;
			box-shadow: $filter-box-shadow;
		}
	}
	.with-whom{
		ion-row{
			ion-col{
				border: solid 1px map-get(map-get($colors, theme), base);
				height:30px;
				margin: $filter-margin;
				border-radius: $filter-border-radius;
			}
		}
	}
}
